body {
    background-color: #000000;
    padding: 15px;
}

h1 {
    color: #FEFEFE;
    text-align: center;
    font: Arial;
    
    border: dashed;
    border-width: 1px;
    border-color: #3ACC15;
    border-radius: 10px;

    padding: 5px;
}

h2 {
    color: #FEFEFE;
    text-align: center;
    font-family: Arial;
}

h3 {
    color: #3ACC15;
    font: Arial;
    margin-left: 5px;
    text-align: center;
    font-family: Arial;
}

h4 {
    color: #3ACC15;
    font: Arial;
    margin-left: 5px;
}

p {
    color: #3ACC15;
    font: Arial;
}

.navbar {
    text-align: right;
}

ol {
    color: #3ACC15;
    font: Arial;
}

#me {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
}

.navbar a:hover {
    background-color: #2E7712;
}

.navbar a { 
    color: #3ACC15;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar #current {
    background-color: #2E7712
}

.navbar li {
    float: right;
}

#link {
    margin-left: 5px;
    color: #3ACC15;
}

#languages_icon {
    margin-left: 10px;
    margin-right: 10px;
}

#languages_icon:hover {
    width: 100px;
    height: 100px;
}

.dropdown #languages {
    display: block;
    position: relative;
}

.dropdown a {
    display: none;
}

.dropdown:hover a {
    display: block;
    position: static;
}