body {
    background-color: #000000;
    padding: 15px;
}

h1 {
    color: #FEFEFE;
    text-align: center;
    font: Arial;

    padding: 5px;
}

h2 {
    color: #FEFEFE;
    text-align: center;
    font: Arial;
}

h3 {
    color: #3ACC15;
    font: Arial;
    margin-left: 5px;
    text-align: center;
    font-family: Arial;
}

h4 {
    color: #3ACC15;
    font: Arial;
    margin-left: 5px;
}

p {
    color: #3ACC15;
    font: Arial;
    margin-left: 5px;
}

.navbar {
    text-align: right;
}

.navbar a:hover {
    background-color: #2E7712;
}

.navbar a { 
    color: #3ACC15;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li {
    float: right;
}

#languages_icon {
    margin-left: 10px;
    margin-right: 10px;
}